.navbar-wrapper {
  position: absolute;
  top:0;
  right:0;
  left:0;
  z-index:20
}


.lined-heading {
position: relative;
margin-top: 0;
margin-bottom: 50px;
text-align: center;
display: block;
}
h1.lined-heading:before, h2.lined-heading:before, h3.lined-heading:before, h4.lined-heading:before, h5.lined-heading:before, h6.lined-heading:before {
position: absolute;
top: 50%;
z-index: 1;
display: block;
width: 100%;
height: 1px;
border-top: 2px solid #ccc;
content: "";
}
h1.lined-heading span, h2.lined-heading span, h3.lined-heading span, h4.lined-heading span, h5.lined-heading span, h6.lined-heading span {
position: relative;
z-index: 1;
padding: 0 20px;
background: #fff;
display: inline-block;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.1;
color: #5e5e5e;
}
h2, .h2 {
font-size: 24px;
}
